header {
    width: 100%;
    background-color: #5ebdf8;
    color: rgb(236, 116, 86);
    padding: 1rem;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}
nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}



 #about {
    padding-top: 200px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 2rem 0;
    line-height: 1.6;
    padding-right: 2rem;
    padding-left: 2rem;
}

#about h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #333;
}

#about h3 {
    margin-top: 1rem;
    color: #555;
}

#about ul {
    margin-top: 0.5rem;
    padding-left: 20px;
}

#about ul li {
    margin-bottom: 0.5rem;
}
